@import url(main.css);

body {
	background-color: #8e44ad;
}

.menu-items ul {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	align-items: center;
}

.menu-items a {
	color: #fff;
}

.menu-items a:hover {
	color: #2c3e50;
}
