@import url(abril-grid.css);
@import url(main.css);

.site-header {
	background: #fff;
	filter: drop-shadow(0px 1px 3px #bdc3c7);
}

.container-site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 40px 0px 40px;
}

.logo img {
	width: 12em;
}

ul.menu_itens {
	padding: 0px;
}

.menu_itens {
	display: flex;
}

.menu_itens li {
	margin: 0em 1em 0em 1em;
}

.container-top-article {
	display: flex;
	justify-content: center;
}

.container-top-article-content h4 {
	color: #d35400
}

.container-top-article-title {
	display: flex;
	justify-content: center;
	text-align: center;
}

.container-top-article-bio {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-top-article-bio div {
	margin-right: 1em;
}

.container-top-article-authorinfo2 p {
	line-height: 0.5em;
}

.container-top-article-authorinfo2 {
	margin-top: 0.6em;
}

.container-top-article-social-grid {
	display: flex;
	justify-content: center;
}

.container-top-article-social {
	display: flex;
	justify-content: center;
}

.container-top-article-share {
	display: flex;
	align-items: center;
}

.container-top-article-share img {
	margin-right: 10px;
	opacity: 70%;  
}

.container-top-article-share img:hover {
	opacity: 100%; 
}

.container-top-article-share h4 {
	margin-right: 20px; 
}

.container-main-text h2 {
	text-align: center;
}

@media(max-width: 500px) {
	.container-hero-image {
		background: url("../img/article-main-img/type.jpg") no-repeat;
		background-position: center;
		background-color: #f1f1f1;
		background-size: cover;
		height: 15em;
	}

	.container-main-text {
		margin: 0px 1em 0px 1em;
	}
	
	.container-related-articles {
		display: flex;
		flex-direction: column;
		margin: 0px 2em 0px 2em;
	}

	.menu,
	.search {
		display: none;
	}
}

@media (min-width: 501px) and (max-width: 1000px) {
	.container-hero-image {
		background: url("../img/article-main-img/type.jpg") no-repeat;
		background-position: center;
		background-color: #f1f1f1;
		background-size: cover;
		height: 20em;
	}

	.container-main-text {
		margin: 0em 4em 0em 4em;
	}

	.container-related-articles {
		display: flex;
		flex-direction: column;
		margin: 0px 2em 0px 2em;
	}

	.related-article-text {
		padding: 2em;
	}

	.menu,
	.search {
		display: none;;
	}
}

@media (min-width: 1001px) {
	.container-hero-image {
		background: url("../img/article-main-img/type.jpg") no-repeat;
		background-position: center;
		background-color: #f1f1f1;
		background-size: cover;
		margin: 0em 6em 0em 6em;
		height: 30em;
	}

	.container-main-text {
		margin: 0px 16em 0px 16em;
	}

	.container-related-articles {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0px 7em 0px 7em;
	}

	.related-article-text {
		padding: 2em;
	}

	.mobile-menu{
		display: none;
	}
}

.related-article-fisrt-img {
	background-image: url("../img/related-articles/related-articles-1.png");
	background-color: #e1e1e1;
	background-position: center;
	background-size: cover;
	height: 200px;
}

.related-article-last-img {
	background-image: url("../img/related-articles/related-articles-2.jpg");
	background-color: #f1f1f1;
	background-position: center;
	background-size: cover;
	height: 200px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2c3e50;
}

.logo_footer img {
	width: 7em;
	height: 2em;
}